@font-face {
    font-family: Stylish;
    src: url(Fonts/);
}


.geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;

    .header_logo {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: rgb(125, 47, 214);
        justify-content: center;

        .image {
            width: 100%;
            display: flex;
            box-shadow: 0px 3px 4px rgb(38, 3, 85);
            margin: 30px;
            background-color: rgb(178, 160, 255);

            .logo {
                display: flex;
                width: 1000px;
                margin-left: 300px;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .titulo {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -1090px;

                .titulohead {
                    color: rgb(68, 13, 119);
                    font-family: 'Times New Roman', Times, serif;
                    border-bottom: 3px solid;
                    font-size: 80px;
                    text-align: center;
                    align-items: center;
                }
            }

        }


    }

    .header_nav {
        height: 50px;
        background-color: rgb(130, 111, 236);
        display: flex;
        align-items: center;
        justify-content: end;

        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            margin-right: 50px;

            li {
                display: flex;
                border: solid 1px;
                padding: 5px;
                border-radius: 10px;
                a {
                    color: rgb(44, 0, 53);
                    font-size: 25px;
                    text-decoration: none;
                }

                a:hover {
                    color: white;
                    transition: 0.5s;
                    text-decoration: underline;
                }
            }

            li:hover {
                background-color: rgb(41, 1, 49);
            }
        }
    }

    .corpo {
        display: flex;
        flex-direction: column;

        #content {
            height: 900px;
            background-image: url(img/Background.jpg);
            display: flex;
            flex-direction: row;
            .explica {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 780px;
                background-color: rgb(198, 217, 255);
                margin: 30px;
                box-shadow: 3px 4px 5px rgb(25, 3, 34) ;
                border-radius: 50px;
                opacity: 80%;
                H1 {
                    font-weight: bold;
                    opacity: 100%;
                    font-size: 60px;
                    text-align: center;
                    margin: 30px;
                    text-decoration: underline;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 45px;
                    text-align: justify;
                    margin: 40px;
                }
            }

            .imagemex {
                margin: 30px;
                width: 100%;
                height: 780px;
                background-color: rgb(198, 217, 255);
                margin: 30px;
                box-shadow: 4px 3px 5px rgb(25, 3, 34);
                border-radius: 50px;
                opacity: 80%;

                h1 {
                    font-weight: bold;
                    opacity: 100%;
                    font-size: 60px;
                    text-align: center;
                    margin: 30px;
                    text-decoration: underline;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 28px;
                    text-align: justify;
                    margin: 40px;
                }
            }
        }

        #sobre {
            display: flex;
            height: 100px;
            width: 100%;
            background-color: rgb(124, 124, 255);
            .info {
                width: 100%;
                text-align: center;
                justify-content: center;
                margin: 10px;
                margin-top: 30px;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 40px;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    
                }

                a:hover {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }

    }
}