@font-face {
    font-family: Stylish;
    src: url(Fonts/);
}


.geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;

    .header_logo {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: rgb(125, 47, 214);
        justify-content: center;

        .image {
            width: 100%;
            display: flex;
            box-shadow: 0px 3px 4px rgb(38, 3, 85);
            margin: 30px;
            background-color: rgb(178, 160, 255);

            .logo {
                display: flex;
                width: 1000px;
                margin-left: 300px;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .titulo {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -1090px;

                .titulohead {
                    color: rgb(68, 13, 119);
                    font-family: 'Times New Roman', Times, serif;
                    border-bottom: 3px solid;
                    font-size: 80px;
                    text-align: center;
                    align-items: center;
                }
            }

        }


    }

    .header_nav {
        height: 50px;
        background-color: rgb(130, 111, 236);
        display: flex;
        align-items: center;
        justify-content: end;
        box-shadow: 2px 3px 5px rgb(133, 133, 133);

        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            margin-right: 50px;

            li {

                a {
                    color: rgb(44, 0, 53);
                    font-weight: bold;
                    font-size: 25px;
                    text-decoration: none;
                }

                a:hover {
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }
        }
    }

    .corpo {}
}