.geral {
    display: flex;
    flex-direction: column;
    width: 100%;
}
   
    .nav {
       
        background-color:rgb(0, 0, 0);
    }
 
    .header {
       
 
    }
    .titulo {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-family: 'Oswald';
        font-size: 22px;
        color:rgb(255, 255, 255);
    }
    .perguntas {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Oswald';
        color: yellowgreen;
        background-color: black;
       }
 
   