@font-face {
    font-family: Stylish;
    src: url(Fonts/SuperBoys-vmW67.ttf);
}


.geral {
    display: flex;
    flex-direction: column;
    header {
        top:0;

        width: 100%;
        display: flex;
        flex-direction: row;
        height: 140px;
        background-color: rgb(227, 238, 248);
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 2px 6px rgb(182, 205, 226);
        .logo {
            width: 100%;
            margin-left: 60px;
            img {
                max-width: 140px;
            }
        }

        .titulollogo {
            width: 100%;
            display: flex;
            flex-direction: row;
            a {
                text-decoration: none;
                color: #0000008e;
                font-size: 55px;
                text-shadow: 1px 3px 3px rgb(104, 103, 103);
                font-weight: bold;
                text-align: center;
                
                
            }

            h1:hover {
                text-decoration: underline;
            }
        }

        .nav {
            width: 100%;
            display: flex;
            flex-direction: row;

            border: solid 2px rgb(126, 135, 185);
            border-radius: 20px;
            padding: 30px;
            background-color: rgb(194, 222, 248);
            box-shadow: 1px 2px 3px rgb(70, 107, 209) ;
            .itens {
                display: flex;
                flex-direction: row;
                gap: 20px;
                

                .cont {
                    display: flex;     
                    a {
                        border: solid 1px rgb(255, 255, 255);
                        padding: 9px;
                        border-radius: 10px;    
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                        
                    }

                    a:hover {
                        background-color: rgb(9, 9, 71);
                        color: white;
                        box-shadow: 2px 2px 4px white;
                    }
                    
                }
            }
        }

    }

    .corpo {
        display: flex;
        flex-direction:row;
        height: 1000px;
        background-image: url(IMGS/Background.jpg);
        width: 100%;

        .first {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-top: 180px;
            margin-left: 60px;
            gap: 150px;

            .pequeno {
                width: 100%;
                align-items: center;
                p {
                    color: white;
                    text-shadow: 1px 3px black;   
                    font-size: 48px;
                }
            }

            .grandebut {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 40px;
                
                h1 {
                    font-size: 100px;
                    max-width: 600px;
                    color: white;
                    text-shadow: 3px 3px black;  
                }

                button {
                    max-width: 300px;
                    height: 50px;
                    border-radius: 50px;
                    background-color: rgb(210, 227, 252);
                    font-size: 20px;
                    text-shadow: 1px 2px #b1ccf5;
                }
            }
        }
    }
}